# RetailSense-AI Environment Configuration Template

APP_NAME=RetailSense-AI
ENV=development
DEBUG=True
PORT=8000

# Database Settings
DB_HOST=localhost
DB_PORT=5432
DB_NAME=retailsense_db
DB_USER=postgres
DB_PASSWORD=postgres

# Airflow Settings
AIRFLOW_HOME=./airflow

# MLflow Settings
MLFLOW_TRACKING_URI=http://localhost:5000
