# --- Data Processing & Analysis ---
pandas>=2.0.0
numpy>=1.24.0
openpyxl>=3.1.0
matplotlib>=3.7.0
plotly>=5.14.0


# --- Machine Learning & Modeling ---
scikit-learn>=1.2.0
xgboost>=1.7.0
joblib>=1.2.0

# --- MLOps & Experiment Tracking ---
mlflow>=2.3.0

# --- Workflow Orchestration ---
apache-airflow>=2.6.0

# --- API & Serving ---
fastapi>=0.95.0
uvicorn>=0.22.0
pydantic>=2.0.0

# --- Dashboard & UI ---
streamlit>=1.22.0

# --- Database & Storage ---
sqlalchemy>=2.0.0
psycopg2-binary>=2.9.6

# --- Utilities & Environment ---
python-dotenv>=1.0.0
jupyter>=1.0.0

# --- Testing & Quality ---
pytest>=7.3.0
httpx>=0.24.0